<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>

<body>

<div>
<br>
<p style="float:right">
    Welcome {{session['fname']+' '+session['lname']}}, <a href="/logout" style="float:right">Logout</a>
</p>

{% if session['role'] == 'Admin'%}
<br><br>
<center><h2 style="Color:Green"> Customer List </h2></center><br><br>

<br>

    <table style="border-spacing:0;" align="center" width="80%" cellpadding="10">

        <thead style="background-color: forestgreen; font-family: calibri;">
        <tr>
            <th style="padding:5px;">CustomerId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Pin</th>
            <th>Action</th>
        </tr>
        </thead>

        {% for cr in crlist %}
            <tbody>
            <tr style="background-color: lightgray; font-family:calibri">

            <td>{{cr.id}}</td>
            <td>{{cr.fname}}</td>
            <td>{{cr.lname}}</td>
            <td>{{cr.gender}}</td>
            <td>{{cr.email}}</td>
            <td>{{cr.city}}</td>
            <td>{{cr.state}}</td>
            <td>{{cr.pincode}}</td>
            <td>
                <a href="/customer/delete/{{cr.id}}">Delete</a>
            </td>
            {% endfor %}
            </tr>
            </tbody>
    </table>
<br>
<p align="center">
<a href="/options">Back</a>
</p>
{% else %}
<h1>You are not allowed to accesss this page, this page can only be accessible by Admin Role</h1>

<p>
    <a href="/orders">Back to Orders Page</a>
</p>
{% endif %}
</div>
</body>
</html>